body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: skyblue;
    text-align: center;
}

.contenedor{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

input[type=text] {
    padding: 12px;
    font-size: 15px;
    width: 70;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: violet;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

#datosClima{
    margin-top: 20px;
    font-size: 18px;
}